@import './valiables';
@import './list.scss';
@import './globalCases';
@import './map.scss';
@import './adaptive.scss';
@import '~leaflet/dist/leaflet.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $main-text-color;
    font-size: 14px;
    font-family: 'Maven Pro', sans-serif;
}

a {
    text-decoration: none;
}

.table, .chart, .map, .list, .globalCases {
    background: $violet_background;
    text-align: center;
    font-size: 2rem;
    margin: 0 5px 5px 0;
}

main {
    height: calc(100% - 50px);
    background: $gary-background;
    display: flex;
    padding: 10px;
}

.map {
    height: 100%;
}

.table{
    height: 50%;
}

.chart, .table {
    height: calc(50% - 5px);
    margin-right: 0;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: $dark-gray-background;

    .contacts {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
    }

    img {
        height: 80%;
    }
}

@media only screen and (min-width: 901px) {
    body, html {
        height: 100vh;
    }

    .left-sidebar {
        width: 20%;
    }

    .center-section {
        width: 40%;
    }

    .right-sidebar {
        width: 40%;
    }
}

