@import './valiables';
@import './list.scss';
@import './globalCases';
@import './map.scss';
@import '~leaflet/dist/leaflet.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $main-text-color;
    font-size: 14px;
    font-family: 'Roboto';
}

.table, .chart, .map, .list, .globalCases {
    background: $violet_background;
    text-align: center;
    font-size: 2rem;
    margin: 0 5px 5px 0;
}

.map {
    height: calc(100%);
}

.chart, .table {
    height: calc(50% - 5px);
    margin-right: 0;
}

body, html {
    height: 100%;
}

main {
    height: calc(100% - 50px);
    background: $gary-background;
    display: flex;
    padding: 10px;
}

.left-sidebar {
    width: 20%;
}

.center-section {
    width: 60%;
}

.right-sidebar {
    width: 20%;
}

.table{
    height: 50%;
}

footer {
    height: 50px;
    background: $dark-gray-background;
}
