@import './valiables';

.list {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .list_header {
        padding: 0.7em 0;
        font-size: 1.05em;
    }

    .item {
        padding: 0.5em;
        border-bottom: 1px solid $secondary-text-color;

        .country_cases {
            color: $base-violet-color;
            font-weight: bold;
        }
    }
}

